.app {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,18,52,1) 20%, rgba(0,212,255,1) 100%);
  height: 839px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: -90px 0 0 0;
}

.container {
  background-color: #121234;
  width: 700px;
  height: 500px;
  border-radius: 20px;
  border: 4px solid #000;
  @media (max-width: 1024px) {
    height: 450px;
    width: 600px;
  }
  @media (max-width: 767px) {
    height: 450px;
    width: 400px;
    margin: -100px 0 0 0;
  }
  @media (max-width: 450px) {
    width: 315px;
    margin: 10px;
  }
}

.name {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0dcaf0;
  @media (max-width: 450px) {
    font-size: 22px;
  }
}

.row {
  display: flex;
  @media (max-width: 1024px) {
    margin: -35px 0 0 7px;
  }
  @media (max-width: 767px) {
    margin: -70px 0 0 10px;
  }
}

.info {
  background-size: 20px 150px;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) ,
  url(https://proza.ru/pics/2017/03/30/816.jpg) no-repeat;
  /*https://avatars.mds.yandex.net/get-zen_doc/3853921/pub_5fc9bdcb6bcad04cbc00cb01_5fca3920788eda75c746965c/scale_1200*/
  height: 264px;
  width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 7px 0 7px;
  border-radius: 10px;
  @media (max-width: 767px) {
    background-size: 250px 250px;
    height: 200px;
    margin: 170px 10px 0 0;
    font-size: 12px;
  }
  @media (max-width: 450px) {
    font-size: 10px;
  }
}

.formWeather {
  margin: 200px 0 0 0;
  @media (max-width: 450px) {
    font-size: 12px;
  }
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}